
/* Contenedor de productos */
.productos-container, .combos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Estilos de tarjeta de producto y combo */
.producto-card, .combo-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 280px;
    text-align: center;
    transition: transform 0.3s;
}

.producto-card:hover, .combo-card:hover {
    transform: scale(1.05);
}

/* Estilos de imagen */
.producto-card img, .combo-images img {
    width: 100%;
    height: 150px;
    object-fit: cover; 
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-radius: 4px; 
}

/* Información del producto */
.producto-info, .combo-info {
    padding: 15px;
}

.producto-info h3, .combo-card h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.producto-info p, .combo-card p {
    color: #666;
    font-size: 0.9em;
}

.producto-precio, .combo-precio {
    font-size: 1.1em;
    font-weight: bold;
    color: #388E3C;
    margin-top: 10px;
}

/* agregar al carrito */
.btn-agregar {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px; 
    margin-bottom: 15px; 
    color: #fff;
    background-color: #e21515;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-agregar:hover {
    background-color: #00c47c;
    text-decoration: none;
    color: white;
}

/* mágenes de combos */
.combo-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin-bottom: 1rem;
}

/*  caja de cantidad */
.cantidad-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px; 
}

.cantidad-label {
    font-size: 1em; 
    margin-right: 10px; 
    color: #333; 
}

.cantidad-input {
    width: 50px; 
    height: 35px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    text-align: center; 
    font-size: 1em; 
    outline: none; 
    transition: border-color 0.3s;
}

.cantidad-input:focus {
    border-color: #388E3C; 
    }

.btn-cantidad {
    background-color: #388E3C;
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 5px 10px; 
    margin-left: 5px; 
    cursor: pointer;
    transition: background-color 0.3s; 
}

.btn-cantidad:hover {
    background-color: #00c47c; 
}
